.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-button-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.export-report-button {
  background-color: #09d3ac;
  color: black;
  border: none;
  width: 100%;
  max-width: 280px;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
  letter-spacing: none;
  transition: background-color, letter-spacing 0.2s ease-in-out;
}

.export-report-button:hover {
  background-color: white;
  letter-spacing: 1px;
  transition: background-color, letter-spacing 0.2s ease-in-out;
}
